<%= form_for(@holiday) do |f| %>
  <%#= f.error_notification %>
  <div class="row">
    <div class="col-sm-4">
      <div class="field form-group">
       	<div class="control">
            <%= f.label  :title %>
       		<%= f.text_field :title, class: "input form-control" %>
       	</div>
      </div>
      <div class="field form-group">
             <%= f.label  :holiday_date %>
           <div class='input-group date' id='datetimepicker'>
             <%= f.text_field :holiday_date, class: "input form-control" %>
               <span class="input-group-addon">
                   <span class="glyphicon glyphicon-calendar"></span>
               </span>
          </div>
       </div>

      <div class="field form-group">
       	<div class="control">
       		<%= f.submit :submit, class: "button is-link btn btn-info" %>
       	</div>
      </div>
    </div>
  </div>

<% end %>
<script type="text/javascript">
   $(function () {
      var date = $('#datetimepicker').val();
      $('#datetimepicker').datetimepicker({
        daysOfWeekDisabled: [0, 6],
        useCurrent: false
        
      });
       
   });
</script>   