%section.section
  .container
    .columns.is-centered
      .column.is-9
        %h1.title.is-2= @room.room_no
        .level.form-group
          .level-left.control
            %p
              Created on
              \#{@room.created_at} by
              Manager / Modified
              \#{time_ago_in_words(@room.updated_at)}
          .level-left.control
            = link_to 'Edit room', edit_room_path(@room), class:'button'
            = link_to 'Delete room', @room, method: :delete, data: { confirm: 'Are you sure'}, class:'button is-danger is-outlined'
            %br/
            = link_to '<---Back', rooms_path, class:'button'
        %hr/
        .content
