<p id="notice"><%= notice %></p>

<h1>Booked Rooms</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Booked Room</th>
      <th>Booking Date</th>
      <th>Booking Duartion (in mins)</th>
      <th>Booked By</th>
      <th colspan="5" class="text-center">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.room.try(:room_no) %></td>
        <td><%= booking.booked_date %></td>
        <td><%= booking.duration %></td>
        <td><%= booking.user.full_name %></td>
        <td><%#= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_room_path(booking) %></td>
        <td><%= link_to 'Cancel Booking', destroy_booking_room_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @bookings, theme: 'my_custom_theme' %>
<br/>
<% if can? :new, Room %>
  <%= link_to 'Add New room', new_room_path, class: 'btn btn-primary' %>
<% end %>
