<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-9">
				<h1 class="title is-2"><%= @fascility.name %></h1>
				<div class="level">
					<div class="level-left">
						<p>Created on
							<%= @fascility.created_at %> by <%#= @fascility.user.name %>Manager / Modified
							<%= time_ago_in_words(@fascility.updated_at) %></p>
					</div>
					<div class="level-right">
						<div class="buttons">
							<%= link_to 'Edit fascility', edit_room_fascility_path(@room, @fascility), class:'button' %>
							<%= link_to 'Delete fascility', room_fascility_path(@room, @fascility), method: :delete, data: { confirm: 'Are you sure'}, class:'button is-danger is-outlined' %> 
						</div>
					</div>
					<%= link_to '<--Back', room_fascilities_path, class:'button btn btn-link' %>
				</div>
				<hr />
				<div class="content">
					<%#= @fascility.description.html_safe %>
				</div>
			</div>
		</div>
	</div>
</section>